<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>贴现业务系统(经理版）</title>

      <style type="text/css">
          table {
              border: 1px solid black;
              text-align: center;
              border-collapse: collapse;
          }
          table thead th {
              border: 1px solid black;
          }
          table tbody td {
              border: 1px solid black;
          }
      </style>
  </head>
  <body align="center" >
  <a  style="float: left" href="/manager/login">注销</a>
  <h2>北京银行票据系统</h2>
  <p  th:text="'欢迎，' + ${name}+'经理'" ></p>

  <br>

<form action="/bill/add" align="left" method="POST">

    <p class="bill_num">
        <label>汇票单号</label>
        <label>
            <input type="text" name="bill_num">
        </label>
    </p>

    <p class="payee_account">
        <label>收款人账号</label>
        <textarea name="payee_account"></textarea>
    </p>

    <p class="payee_name">
        <label>收款人全称</label>
        <textarea name="payee_name"></textarea>
    </p>

    <p class="payee_save">
        <label>收款人存款</label>
        <label>
            <input type="number" name="payee_save">
        </label>
    </p>

    <p class="payee_loan">
        <label>收款人借贷</label>
        <label>
            <input type="number" name="payee_loan">
        </label>
    </p>

    <p class="payee_loan_ratio">
        <label>收款人借贷比</label>
        <label>
            <input type="number" name="payee_loan_ratio">
        </label>
    </p>

    <p class="drawer_account">
        <label>出票人账号</label>
        <label>
            <textarea name="drawer_account"></textarea>
        </label>
    </p>

    <p class="drawer_name">
        <label>出票人全称</label>
        <label>
            <textarea name="drawer_name"></textarea>
        </label>
    </p>

    <p class="issuance_date">
        <label>出票日期</label>
        <label>
            <input type="date" name="issuance_date"/>
        </label>
    </p>

    <p class="expiry_date">
        <label>到期日期</label>
        <label>
            <input type="date" name="expiry_date">
        </label>
    </p>

    <p class="bill_amount">
        <label>出票金额</label>
        <label>
            <input type="number" name="bill_amount">
        </label>
    </p>

    <p class="bill_state">
        <label>出票状态</label>
        <label>
            <input type="text" name="bill_state">
        </label>
    </p>

    <p class="bill_approval_state">
        <label>出票批准状态</label>
        <label>
            <input type="text" name="bill_approval_state">
        </label>
    </p>

    <p class="batch_num">
        <label>批次号</label>
        <label>
            <textarea name="batch_num"></textarea>
        </label>
    </p>

    <p class="accounting_change">
        <label>accounting_change</label>
        <label>
            <input type="number" name="accounting_change">
        </label>
    </p>

    <p class="accounting_state">
        <label>accounting_state</label>
        <label>
            <input type="text" name="accounting_state">
        </label>
    </p>

    <p class="submit">
        <input type="submit" value="发布汇票信息" />
    </p>
</form>


<br>
  <h3>已发布的票据</h3>
<table align="center" width="960" border="1"
       bgcolor="black"  cellpadding="1" cellspacing="1">
    <tr align = "center" bgcolor="#7fffd4" height="50">

        <td>票据编号</td>
        <td>出票日期</td>
        <td>到期日期</td>
        <td>承兑日期</td>
        <td>出票人全称</td>
        <td>出票人账号</td>
        <td>付款行</td>
        <td>收款人全称</td>
        <td>收款人账号</td>
        <td>收款行</td>
        <td>承兑协议编号</td>
        <td>出票金额</td>
        <td>批次号</td>
        <td>操作</td>

    </tr>

    <tbody>
    <tr th:each="entries:${list}" th:style="'background-color:'+'#F2F2F2'" >
        <td th:text="${entries['billNum']}">1</td>
<!--        <td th:text="${#dates.format(entries['issuanceDate'], 'yyyy-MM-dd')}"></td>-->
        <td th:text="${entries['issuanceDate']}">1</td>
        <td th:text="${entries['expiryDate']}">1</td>
        <td th:text="${entries['acceptanceDate']}">1</td>
        <td th:text="${entries['drawerName']}">1</td>
        <td th:text="${entries['drawerAccount']}">1</td>
        <td th:text="${entries['paymentBank']}">1</td>
        <td th:text="${entries['payeeName']}">1</td>
        <td th:text="${entries['payeeAccount']}">1</td>
        <td th:text="${entries['payeeBank']}">1</td>
        <td th:text="${entries['acceptanceNum']}">1</td>
        <td th:text="${entries['billAmount']}">1</td>
        <td th:text="${entries['batchNum']}">1</td>

<!--        <td th:text="${#dates.format(entries['createTime'], 'yyyy-MM-dd HH:mm')}"></td>-->
        <td><a th:href="@{'selectsh?billNum='+${entries['billNum']}}" >查看</a>
        </td>

    </tr>
    </tbody>
</table>

  </body>
</html>
